/**
 * Project specific styling.
 */

.hero {
  h1 {
    font-size: 4em;
  }

  p.lead {
    font-size: 1.85em;
  }
}

.container-xxl {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 1500px;

  @media (min-width: 1500px) {
    padding: 0;
  }
}

.bottom-space {
  margin-bottom: 2em;
}

footer {
  margin-bottom: 3em;
}

.map-figure {
  margin-bottom: 2em;
}

.map-embed {
  height: 600px;
  height: 90vh;
}

.map-highlight {
  width: 100%;
  height: 600px;
  height: 80vh;
  min-height: 400px;
}

// Some overrides for MapboxGL
.mapboxgl-ctrl-group > button {
  border-radius: 0;
  background-color: inherit;
  outline: 0 !important;
  padding: 0;

  &:hover {
    background-color: #cdcdcd;
  }
}

a.mapboxgl-ctrl-logo:empty {
  outline: 0 !important;
}

// Leaflet overrides for consistency
.leaflet-bar a {
  background-color: #ffffff;
  border-radius: 0;
}
