
<div class="strib-styles ssa ssb ssc">
  <section class="">
    <div class="hero container-lg">
      <h1>What changes under the Minneapolis 2040 plan?</h1>

      <p class="lead container-md">Parcel by parcel, how is the city changing from the current zoning code to the Minneapolis 2040 designations.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://example.com/author">Alan Palazzolo</a>
          and
          <a rel="author" href="http://example.com/author">Andy Mannix</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2018-10-14T16:00:00">October 14, 2018</time>
      </div>

      <div class="share-placeholder">
        <!-- share -->
      </div>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-xxl">
      <figure class="map-figure">
        <div class="map-highlight" id="explorable-map"></div>
        <!--
        <iframe class="map-embed" title="Minneapolis 2040 Plan map" width="100%" frameborder="0" src="https://alan-strib.carto.com/builder/f487c444-85b5-4a47-adbd-80549561a587/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        -->

        <figcaption>
          <p>The map above shows the "Built Form" designations of the Minneapolis 2040 Plan.  Use the magnifying glass button to search for an address or other place.</p>

          <Legend />
        </figcaption>
      </figure>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-lg bottom-space">
      <ZoningDefinitions />
    </div>

    <div class="container-copy">
      <footer class="article-footer">
        <h1>Credits</h1>

        <ul class="credits">
          <li>Edited by John DoeEditor</li>
          <li>Data analysis by Jane DoeData</li>
          <li>Design and development by Jem DoeDesign</li>
        </ul>

        <h1>Methodology</h1>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </footer>
    </div>
  </section>
</div>

<script>
  import Legend from "./shared/_map-legend.svelte.html";
  import ZoningDefinitions from "./shared/_zoning-definitions.svelte.html";

  export default {
    components: {
      Legend,
      ZoningDefinitions
    }
  };
</script>

