
<div class="strib-styles ssa ssb ssc">
  <section class="">
    <div class="hero container-lg">
      <h1>Top changes of the Minneapolis 2040 plan</h1>

      <p class="lead container-md">The whole city gets a new designation in the 2040 plan, but here are some of the biggest changes.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://example.com/author">Alan Palazzolo</a>
          and
          <a rel="author" href="http://example.com/author">Andy Mannix</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2018-10-14T16:00:00">October 14, 2018</time>
      </div>

      <div class="share-placeholder">
        <!-- share -->
      </div>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-xl">
      <figure class="map-figure">
        <figcaption>
          <h3 class="label">R1 to Interior 1</h3>
          <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi</p>
        </figcaption>

        <div class="map-highlight" id="map-r1-to-interior-1"></div>
      </figure>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-xl">
      <figure class="map-figure">
        <figcaption>
          <h3 class="label">R1 to Interior 2</h3>
          <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi</p>
        </figcaption>

        <div class="map-highlight" id="map-r1-to-interior-2"></div>
      </figure>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-xl">
      <figure class="map-figure">
        <figcaption>
          <h3 class="label">R1 to Corridor 4</h3>
          <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi</p>
        </figcaption>

        <div class="map-highlight" id="map-r1-to-corridor-4"></div>
      </figure>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-xl">
      <figure class="map-figure">
        <figcaption>
          <h3 class="label">Select</h3>
          <div>
            <select id="select-zoning">
              <option value="">any</option>
              <option value="B4-1">B4-1</option>
              <option value="B4-2">B4-2</option>
              <option value="B4C-1">B4C-1</option>
              <option value="B4C-2">B4C-2</option>
              <option value="B4N">B4N</option>
              <option value="B4S-1">B4S-1</option>
              <option value="B4S-2">B4S-2</option>
              <option value="C1">C1</option>
              <option value="C2">C2</option>
              <option value="C3A">C3A</option>
              <option value="C3S">C3S</option>
              <option value="C4">C4</option>
              <option value="I1">I1</option>
              <option value="I2">I2</option>
              <option value="I3">I3</option>
              <option value="OR1">OR1</option>
              <option value="OR2">OR2</option>
              <option value="OR3">OR3</option>
              <option value="R1">R1</option>
              <option value="R1A">R1A</option>
              <option value="R2">R2</option>
              <option value="R2B">R2B</option>
              <option value="R3">R3</option>
              <option value="R4">R4</option>
              <option value="R5">R5</option>
              <option value="R6">R6</option>
            </select>

            <select id="select-built-form">
              <option value="">any</option>
              <option value="Core 50">Core 50</option>
              <option value="Corridor 4">Corridor 4</option>
              <option value="Corridor 6">Corridor 6</option>
              <option value="Interior 1">Interior 1</option>
              <option value="Interior 2">Interior 2</option>
              <option value="Interior 3">Interior 3</option>
              <option value="Parks">Parks</option>
              <option value="Production">Production</option>
              <option value="Transit 10">Transit 10</option>
              <option value="Transit 15">Transit 15</option>
              <option value="Transit 20">Transit 20</option>
              <option value="Transit 30">Transit 30</option>
              <option value="Transportation">Transportation</option>
            </select>
          </div>
        </figcaption>

        <div class="map-highlight" id="map-select"></div>
      </figure>
    </div>

    <div class="container-copy bottom-space">
      <p>Veniam mollit fugiat laborum consequat occaecat minim velit proident laborum consectetur veniam ad enim. Dolore incididunt nisi deserunt nisi incididunt anim eu aute sunt amet id. Aliqua commodo cupidatat dolor elit veniam. Lorem enim aliqua occaecat exercitation Lorem tempor elit occaecat fugiat culpa eiusmod excepteur excepteur. Cillum et veniam ut pariatur fugiat ea.</p>
    </div>

    <div class="container-copy">
      <footer class="article-footer">
        <h1>Credits</h1>

        <ul class="credits">
          <li>Edited by John DoeEditor</li>
          <li>Data analysis by Jane DoeData</li>
          <li>Design and development by Jem DoeDesign</li>
        </ul>

        <h1>Methodology</h1>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </footer>
    </div>
  </section>
</div>



