
<footer class="article-footer">
  <h1>Credits</h1>

  <ul class="credits">
    <li>Reporting by Andy Mannix</li>
    <li>Edited by James Shiffer</li>
    <li>Data analysis, design, and development by Alan Palazzolo</li>
  </ul>

  <p>Some map data and design &copy Mapbox and &copy; OpenStreetMap.</p>

  <h1>Methodology</h1>

  <p>The <a href="https://minneapolis2040.com/" target="_blank" rel="noopener">Minneapolis 2040 plan</a> data directly provided by the City of Minneapolis; zoning data provided by the <a href="http://opendata.minneapolismn.gov/datasets/planning-primary-zoning" target="_blank" rel="noopener">City of Minneapolis open data portal</a> as of October 8, 2018.  The Star Tribune analyzed the data sets by overlapping each parcel in the 2040 plan with the current zoning areas; due to small differences in datasets and through the analysis process, small, insignficant areas may be left out.</p>
</footer>
