<div class="map-legend">
  <div class="legend-title">Minneapolis 2040 Plan built forms</div>
  <div class="swatches row">
    {#each Object.entries(builtFormsColors) as [name, color]}
      <div class="swatch col col-25 col-md-15 col-lg-10">
        <span class="swatch-color" style="background-color: { color };"></span>
        <span class="swatch-title">{ name }</span>
      </div>
    {/each}
  </div>
</div>

<script>
  import zoningDefs from "../../assets/data/zoning-definitions.json";
  import mapConfig from "../../app/shared/map-config.js";

  export default {
    data: () => {
      return {
        builtFormsColors: mapConfig.builtFormsColors
      };
    }
  };
</script>
