<aside class="zoning-definitions">
  {#each Object.entries(zoningDefs) as [type, definitions]}
    {#if typeNames[type]}
      <h3 class="label">{ typeNames[type].title }</h3>
      <p class="type-description">{@html typeNames[type].description }</p>

      <ul class="definitions definitions-{ snakeCase(type) } row">
        {#each  definitions as def}
          <li class="definition col col-100 col-md-33 col-lg-25 col-xl-20">
            <div class="definition-wrapper">
              {#if def['Image Render']}
                <img class="image-render" src="{ publishLocation }assets/images/built-forms/{ def['Image Render'] }" alt="Rendering of { def.Label}">
              {:else}
                <div class="image-render image-placeholder">
                  <em>No rendering provided</em>
                </div>
              {/if}

              <dl>
                <dt>
                  { def.Code === def.Label ? def.Label : `${def.Code}: ${def.Label}` }
                  {#if type = '2040-built-form' && builtFormsColors[def.Code]}
                    <span class="label-swatch" style="background-color: { builtFormsColors[def.Code] };"></span>
                  {/if}
                </dt>

                <dd>
                  <p>{ def['Strib Description'] || def.Description }</p>
                </dd>
              </dl>

              {#if def['Image Elevation']}
                <img class="image-elevation" src="{ publishLocation }assets/images/built-forms/{ def['Image Elevation'] }" alt="Elevation rendering of { def.Label}">
              {/if}
            </div>
          </li>
        {/each}
      </ul>
    {/if}
  {/each}
</aside>

<script>
  import { groupBy, snakeCase } from "lodash";
  import zoningDefs from "../../assets/data/zoning-definitions.json";
  import mapConfig from "../../app/shared/map-config.js";

  export default {
    helpers: {
      snakeCase
    },

    data: () => {
      return {
        publishLocation:
          "http://static.startribune.com/news/projects/all/2018-2040-plan/",
        zoningDefs: groupBy(zoningDefs, "Type"),
        builtFormsColors: mapConfig.builtFormsColors,
        typeNames: {
          "2040-built-form": {
            title: "2040 Plan Built Forms",
            description: `The <a href="https://minneapolis2040.com/" target="_blank" rel="noopener">Minneapolis 2040 Plan</a> built forms define how structures can be used on specific land areas including height and number of structures.`
          },
          //"2040-land-use": "Minneapolis 2040 Plan land use definitions",
          zoning: {
            title: "Current Minneapolis Zoning",
            description: `The current <a href="http://www.ci.minneapolis.mn.us/zoningmaps/zoning_code_index" target="_blank" rel="noopener">Minneapolis zoning code</a> describes how land can be used in the city.  There is a Primary Zoning code and an Overlay Zoning code (not defined or pictured here) that adjusts the Primary code for certain parts of the city.`
          }
        }
      };
    }
  };
</script>
